@import "tailwindcss";

/* Plugins */
@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist), system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-headings: var(--font-onest), system-ui, sans-serif, "Apple Color Emoji";
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Shiki Light/Dark Mode */

/* @media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: transparent !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
} */

html.light code[data-theme*=" "],
html.light code[data-theme*=" "] span,
html.light .shiki,
html.light .shiki span {
  color: var(--shiki-light);
  background-color: transparent;
}

html.dark code[data-theme*=" "],
html.dark code[data-theme*=" "] span,
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: transparent !important;
}
