/* Tailwind CSS */
@import "./globals.css";

/* Shiki */
html.light .shiki,
html.light .shiki span {
  font-family: var(--font-mono) !important;
  background-color: transparent !important;
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  font-family: var(--font-mono) !important;
  background-color: transparent !important;
}

pre.shiki {
  @apply py-3;
}

pre.shiki span.line {
  @apply px-4 py-0.5;
}

/* Shiki Line Numbers */
pre.shiki-line-numbers code {
  counter-reset: step;
  counter-increment: step 0;
}

pre.shiki-line-numbers code:has(.line:nth-child(2)) .line::before {
  content: counter(step);
  counter-increment: step;
  width: 0.5rem;
  margin-right: 1rem;
  margin-left: 0.3rem;
  display: inline-block;
  text-align: right;
  @apply font-mono text-xs text-neutral-400 dark:text-neutral-600;
}

/* Shiki Highlight */
pre span.shiki-line-highlight {
  @apply relative z-0 inline-block w-full;
  &::after {
    content: "";
    @apply absolute top-0 left-0 -z-10 h-full w-full border-l-2 border-neutral-400 bg-neutral-600/20! opacity-40;
  }
}

/* Shiki Notation Diff */
pre.has-diff span.line.diff {
  @apply relative inline-block w-full;
}

pre.has-diff span.line.diff.add {
  @apply bg-green-300/20 dark:bg-green-700/20;
  &::before {
    content: "+";
    @apply absolute left-2 text-green-600 dark:text-green-400;
  }
}

pre.has-diff span.line.diff.remove {
  @apply bg-red-300/20 opacity-70 dark:bg-red-600/20;
  &::before {
    content: "-";
    @apply absolute left-2 text-red-600 dark:text-red-400;
  }
}

/* Shiki Notation Focus */
pre.shiki-has-focused .line:not(.focused) {
  @apply opacity-50 blur-[0.8px] transition-opacity duration-200 ease-in-out;
}

pre.shiki-has-focused:hover .line:not(.focused) {
  @apply opacity-100 blur-none;
}
